@charset "utf-8";
@import "normalize";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee+Hairline|Bungee+Outline|Codystar|Happy+Monkey');

$bungee-hairline-font: 'Bungee Hairline';
$audiowide-font: 'Audiowide';
$happy-monkey-font: 'Happy Monkey';

.parallax {
    /* The image used */
    background-image: image-url("iceland-bg.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-bg-container {
  width: 75%;
  text-align: center;
  z-index: 1;
  position: absolute;
  margin-top: 200px;
  color: white;
}

.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.page-title {
  font-size: 40px;
  font-weight: 900;
  font-family: $bungee-hairline-font;
}

.module {
  @extend .container;
  margin-top: 10px;
  padding-bottom: 50px;

  > .title{
    font-weight: 900;
    font-family: $bungee-hairline-font;
    text-align: center;
    font-size: 40px;
  }

  > .sub-title{
    text-align: center;
    margin-top: -40px;
  }
}

.title-box {

  > .title{
    font-weight: 900;
    font-family: $bungee-hairline-font;
    text-align: center;
    font-size: 40px;
  }

  padding-top: 30px;
  padding-bottom: 30px;
}

section:nth-child(odd) {
  background: #f5f5f5;
}

section:nth-child(even) {
  background: #ffffff;
}

// About
.my-picture {
  height: 350px;
  width: 100%;
  background-image: image-url("cartoon_me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.bio-content {
  font-size: 20px;
}

// Contact
.contact-box {
  text-align:center;

  > i {
    height: 20px;
    font-size: 60px;
  }

  padding-bottom: 50px;
}

.border-right {
  border-right: solid black;
}

// Footer
.watermark {
  float: left;
  font-weight: 900;
  font-size: 15px;
  font-family: $bungee-hairline-font;
}

.back-top-button {
  float: right;
  font-weight: 900;
  font-family: $bungee-hairline-font;
}
